{% extends 'base.html.twig' %}

{% block title %}Producto!{% endblock %}
 {% block javascripts %}
    {{ parent() }}
<script>
     function Iva (a) {
        value=(0.21)*a;
        document.getElementById('IVA').innerHTML="  IVA: "+value+"€";
        document.getElementById('total').innerHTML=Math.round((value+a+10)*100)/100+"€";
    }
     Iva({{ price }});
</script>
{% endblock %}
{% block body %}
    <p id="subtitulo">Ver Producto</p>
   <div class="todopack">
    {% for vino in vinos %}
         <div id="todocolum">
             <div id="inf">
                 <h1><i> {{ vino.nombre}}</i></h1>
                  <h2><i> {{ vino.volumen}}</i></h2>
                   <h2><i> {{ vino.vol_Alcohol}}</i></h2>
                   <h2><i> {{ vino.yearvendimia}}</i></h2>
                   <h2><i> {{ vino.uvas}}</i></h2>
                   <h2><i> {{ vino.denominacion}}</i></h2>
                   <h2><i> {{ vino.Alergenos}}</i></h2>
                   <h2><i> {{ vino.Tipovino}}</i></h2>
             <div> <img class="imgvino" src="{{ asset('imagenes/todo/' ~ vino.logo) }}"</a></div>
             <h3><i> {{ vino.price}}</i></h3>
         <br>
         <div class = "bot"><h2><a class="blanco" href="{{ path('CreditCard') }}">Registra tu Compra </a></h2></div>
        </div>
         </div>
                    {% endfor %}
</div>
    
    
{% endblock %}